.counter-container{
    border: solid black ;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: antiquewhite;
}
#bt{
    display: flex;
    justify-content: center;
}
button{
    padding: 6px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgb(250, 141, 25);
}
